
    <div class = "logo">
        <h6>VASK</h6>
        
    </div>
    <img class = "icon" src="img/vask.jpeg">
    <div id = "container">
        <div class ="div1">
            <a class="page">Browse VW Collection</a>
        </div>
        <div>
            <a class="page">About And History</a>
        </div>
        <div>
            <a class="page">Latest News</a>
        </div>
    </div>   
    
    <!-- put hidden pages -->
    <div id = "pagetwo">
        <div>
          <img src="/img/vask.jpeg"  height="200px" width="200px" />
          <p>Volkswagen Golf</p>
          
          <img src="/img/vask.jpeg"  height="200px" width="200px" />
          <p>Volkswagen Passat</p>
          
          <img src="/img/vask.jpeg"  height="200px" width="200px" />
          <p>Volkswagen Amarok</p>
           
        </div>
     <div>  

    <footer>
        <div class = "footer">
            @ Luke Pickard MK5 GTI Perlli Edition.
        </div>
        <script src = "js/main.js" ></script>  
    </footer>     
