<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>||VASK||</title>
    <link rel="stylesheet" href="css/first.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "logo">
        <h6>VASK</h6>
        
    </div>
    <img class = "icon" src="img/vask.jpeg">
    <div id = "container">
        <div>
            <a class="page">Browse VW Collection</a>
        </div>
        <div>
            <a class="page">About And History</a>
        </div>
        <div>
            <a class="page">Latest News</a>
        </div>
    </div>   
    
    <!-- put hidden pages -->
    <div id = "pagetwo">
        <div>
            <a class = "page2">Blah</a>
        </div>
        <div>
            <a class = "page2">Blah</a>
        </div>
        <div>
            <a class = "page2">Blah</a>
        </div>    
    </div>
    
    <footer>
        <div class = "footer">
            @ Luke Pickard MK5 GTI Perlli Edition.
        </div>
        <script src = "js/main.js"></script>  
    </footer>     
</body>       
</html>